.container {
    padding: 0 2rem;
}

.titleLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.createLink {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 1rem;
}

.itemContainer {
    padding: 0.5rem 0;
}

.itemContainer a {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 0.5rem;
}

.formLabel {
    margin: 0.5rem 0;
}

.createShipment {
    display: flex;
}

.availableItems {
    width: 45%;
}

.shippingItems {
    width: 45%;
}
