.container {
    padding: 0 2rem;
}

.createLink {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 1rem;
}

.itemContainer {
    padding: 0.5rem 0;
}

.itemContainer a {
    font-weight: bold;
    text-decoration: underline;
    margin-right: 0.5rem;
}

.formLabel {
    margin: 0.5rem 0;
}
